<%- include('includes/head',{pageTitle: 'An Error Occurred' }) %>
    </head>

    <body>
        <%- include('includes/header') %>
            <main>
                <h1> Something Went Wrong!</h1>
                <p>Unfortunately , Sonething Went wrong Please Try Again!</p>
                <p><a class="btn" href="/"> Back To safety!</a></p>
            </main>

            <%- include('includes/footer') %>