<%- include('../../shared/includes/head',{pageTitle: 'All Product'}) %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>All Products Page!</h1>
        <p>A list Of Product ....</p>
    </main>
<%- include('../../shared/includes/footer') %>    
    
